.container{
	margin-top: 60px;
}
.section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}


@media(min-width: 700px){
	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.section{
		padding-right: 24px;
		padding-left: 24px;
	}
	.main{
		width: 58%;
	}
}