.container{
	width: 100%;
	margin:  0 24px;
}
.name{
	font-size: 20px;
	line-height: 24px;
	border-top: 5px solid #24292f;
	border-bottom: 1px solid hsla(210,18%,87%,1);
	padding-top: 7px;
	padding-bottom: 11px;
}

@media(min-width: 700px){
	.container{
		width:  45%;
		margin:  0 0;
	}
}
@media(min-width: 1000px){
	.container{
		width:  20%;
	}
}
